body{
    background-color: aliceblue;
}

#headerSection{
    padding: 10px;
}

#headerSection h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;

}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 14.5%;
}

#loginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: skyblue;
}

#RegisterBtn{
    padding: 5px;
    font-size: 15px;
    background-color: skyblue;
    border-radius: 5px;
}

#address{
    width: 30%;
}

#img{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}
#role{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}
#role select{
    border-radius: 5px;
    padding: 10px;
}

#backBtn{
    padding: 5px;
    font-size: 15px;
    background-color: skyblue;
    border-radius: 5px;
}

#logoutBtn{
    padding: 5px;
    font-size: 15px;
    background-color: skyblue;
    border-radius: 5px;
}